################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HookSharp/v16
/packages
/HookSharp/bin/Debug
/HookSharp/obj/Debug
